#br-1{
    background-color: black;
    color: white;
}
.br1pb{
    height: fit-content(auto);
}
.br1pb__contents{
    background: #211f1f;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:1.5rem;
    grid-row-gap:3rem;
    grid-auto-rows: fit-content(auto);
    padding: 1rem;;
}
.brpb-content1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brpb-info1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brpb-thumb1{
    background: url("../images/Alina Loves to be Bad.webp") #333131;
    width: 100%;
    height:20rem;
    background-repeat: no-repeat;
}
.brpb-title1{
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: bold;
}
.brpb-reso1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.brpb-reso1 button{
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.brpb-reso1 button:hover,
.brpb-reso1 button:active{
    background: #89ABE3FF;
    color: white;
}
.brpb-thumb2{
    background-image: url("../images/br-av-2.jpg");
    background-position: top 65% left 35%;
    /* background-size: cover; */
}
.brpb-thumb3{
    background-image: url("../images/br-js-3.webp");
    background-size: cover;
}
.brpb-thumb4{
    background-image: url("../images/br-mm-4.webp");
    background-size: contain;
    background-position: center;
}
.brpb-thumb5{
    background-image: url("../images/br-gd-5.webp");
    background-size: contain;
    background-position: center;
}
