.main-footer{
    display: none;
}
#t-ali{
    background: black;
}
.ali--22,
.ali--24{
    color: white;
    height: fit-content(auto);
}
.ali-contents{
    background: #211f1f;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:1.5rem;
    grid-row-gap:3rem;
    grid-auto-rows: fit-content(auto);
    padding: 1rem;
}
@media(max-width:25rem){
    .ali-contents{
        background: #211f1f;
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        /* grid-column-gap:1.5rem; */
        grid-row-gap:2rem;
        grid-auto-rows: fit-content(auto);
        padding: 1rem;
    }
}
.ali-content1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ali-info1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ali-thumb1{
    background: url("../images/Alina Loves to be Bad.webp") #333131;
    width: 100%;
    height:20rem;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.ali-title1{
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: bold;
    
}
.ali-reso1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.ali-reso1 button{
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.ali-reso1 button:hover,
.ali-reso1 button:active{
    background: #89ABE3FF;
    color: white;
}
.ali-thumb2{
    background-image: url("../images/Placeholder.jpg");
    background-position: center;
    background-size: cover;
}
.ali-thumb3{
    background-image: url("../images/cont-3.webp");
    background-size: cover;
}
.ali-thumb4{
    background-image: url("../images/content4.jpg");
    background-size: cover;
}
.ali-thumb5{
    background-image: url("../images/cont5.jpg");
}
.ali-thumb6{
    background-image: url("../images/cont6.jpeg");
    background-size: cover;
}
.ali-thumb7{
    background-image: url("../images/cont7.jpg");
    background-size: cover;
}
.ali-thumb8{
    background-image: url("../images/cont8.jpg");
}
.ali-thumb9{
    background-image: url("../images/cont9.jpg");
}
.ali-thumb10{
    background-image: url("../images/cont10.webp");
    background-size: cover;
}
.ali--23{
    color: white;
    height: fit-content(auto);
}
.a23-sampledp{
    display: grid;
    grid-template-rows:  700px;
    background-repeat: no-repeat;
    align-self: center;
    background-image: url("../images/blraw2-1.jpg");
    background-position: center bottom 70%;
    border: 4px solid red;
}
.ali23-thumb{
    background-image: url("../images/ppse-1.jpg");
    background-size: cover;
}
.ali23-thumb3{
    background-image: url("../images/JJ-m1.jpg");
    background-size: contain;
    background-position: center;
}
.ali23-thumb2{
    background-image: url("../images/rk-1.jpg");
}
.ali23-thumb4{
    background-image: url("../images/newsen.jpg");
}
.ali23-thumb5{
    background-image: url("../images/br-2.jpg");
    background-size: cover;
}
.ali23-thumb6{
    background-image: url("../images/bbstng.jpg");
    background-position: right 70%;
    /* background-size: contain; */
}
.ali23-thumb7{
    background-image: url("../images/dpr-1.webp");
}
.ali23-thumb8{
    background-image: url("../images/RK-2.jpg");
    background-size: contain;
    background-position: center;
}
.ali23-thumb9{
    background-image: url("../images/bngbr-2.jpg");
    background-size: contain;
    background-position: center;
}
.ali23-thumb10{
    background-image: url("../images/blckd2.jpg");
}
.ali23-thumb11{
    background-image: url("../images/blked3try.jpg");
    background-size: cover;
    
}
.ali23-thumb12{
    background-image: url("../images/bclu1.jpg");
    background-size: contain;
    background-position: center;
}
.ali23-thumb13{
    background-image: url("../images/hrdx-2.jpg");
}
.ali23-thumb14{
    background-size: contain;
    background-image: url("../images/blraw2-2.jpg");
    background-position: center;
}
.ali23-thumb15{
    background-image: url("../images/rk3.jpg");
    background-size: contain;
    background-position: center;
}
.ali23-thumb16{
    background-image: url("../images/bbs3.jpg");
    background-size: contain;
    background-position: center;
}
.ali23-thumb17{
    background-image: url("../images/tngf2.jpg");
    background-position: left 30% top 35%;
}
.ali23-thumb18{
    background-image: url("../images/wywi1.jpg");
    background-position: center;
}
.ali23-thumb19{
    background-image: url("../images/brz2.jpg");
    background-position: center;
}
.ali23-thumb20{
    background-image: url("../images/hrdx-3.jpg");
    background-size: cover;
    background-position: right;
}
.ali23-thumb21{
    background-image: url("../images/jj2.jpg");
    background-size: cover;
    background-position: center;
}
.ali23-thumb22{
    background-image: url("../images/pps2.jpg");
    background-size: cover;
    background-position: center;
}
.ali23-thumb23{
    background-image: url("../images/hwn01.jpg");
    background-size: cover;
    background-position: center;
}
.ali24-thumb1{
    background-position: center;
}
.ali24-thumb{
    background-image: url("../images/swche1.jpg");
    background-size: contain;
}
.ali24-thumb2{
    background-image: url("../images/dp-1.jpg");
    background-size: 50%;
}
.ali24-thumb3{
    background-image: url("../images/jj1.jpg");
    background-size: contain;
}
.ali24-thumb4{
    background-image: url("../images/finetune1.jpg");
    background-size: cover;
}
.ali24-thumb5{
    background-image: url("../images/sqrtcrav1.jpg");;
}
.ali24-thumb6{
    background-image: url("../images/al24-rk1.jpg");
}
.ali24-thumb7{
    background-image: url("../images/brothingsali.jpg");
}
.ali24-thumb8{
    background-image: url("../images/ali24-blck1.jpg");
    background-size: 800px;
}
.ali24-thumb9{
    background-image: url("../images/ali24-jj2.jpg");
    background-size: 800px;
}
.ali24-thumb10{
    background-image: url("../images/ali24-brtsis1.jpg");
    background-size: 270px;
}
.ali24-thumb11{
    background-image: url("../images/ali24-bz1.jpg");
    background-size: 720px;
}
.ali24-thumb12{
    background-image: url("../images/ali24-nof1.jpg");
}
.ali24-thumb13{
    background-image: url("../images/ali24-borgi1.jpg");
    background-size: 820px;
}
.ali24-thumb14{
    background-image: url("../images/ali24-dpr1.jpg");
    background-size: 900px;
}
.ali24-thumb15{
    background-image: url("../images/ali24-ea1.jpg");
    background-size: 950px;
}
.ali24-thumb16{
    background-image: url("../images/ali24-jj3.jpg");
    background-size: 750px;
}
.ali24-thumb17{
    background-image: url("../images/ali24-bz2.jpg");
}
.ali24-thumb18{
    background-image: url("../images/ali24-vxn1.jpg");
    background-size: cover;
}
.ali24-thumb19{
    background-image: url("../images/ali24-blck2.jpg");
    background-size: 700px;
}
.ali24-thumb20{
    background-image: url("../images/ali24-ea2.jpg");
    background-size: 700px;
}
.ali24-thumb21{
    background-image: url("../images/ali24-dp2.jpg");
    background-size: 350px;
}
.ali24-thumb22{
    background-image: url("../images/ali24-bb1.jpg");
}
.ali24-thumb23{
    background-image: url("../images/ali24-ea3.jpg");
    background-position: left 28%;
}
.ali24-thumb24{
    background-image: url("../images/ali24-ea4.jpg");
    background-size: cover;
    background-position: left 90%;
}
.ali--24 > a{
    display: grid;
    grid-template-rows:  650px 650px;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1.5fr;
    grid-template-areas: "img1 img1 img2 img2 img2 img2 img6"
                         "img5 img5 img4 img4 img3 img3 img6";
    background-repeat: no-repeat;
    background-position: center;
    grid-gap: 1rem;
    /* align-items: center; */
    border: 4px solid red;
    
}
.a24-sampledp{
   
    background-image: url("../images/ali24-intro3.jpg");
    background-position: center bottom 80%;
    grid-area: img1;
    
}
.a24-sampledp2,
.a24-sampledp3,
.a24-sampledp4,
.a24-sampledp5,
.a24-sampledp6,
.a24-sampledp{
    background-repeat: no-repeat;
}
.a24-sampledp2{
    background-image: url("../images/ali24-intro1.jpg");
    grid-area: img2;
    background-position: center ;
}
.a24-sampledp3{
    background-image: url("../images/ali24-intro4.jpg");
    grid-area: img3;
    background-position: center;
}
.a24-sampledp4{
    background-image: url("../images/ali24-intro5.jpg");
    background-position: center ;
    grid-area: img4;
}
.a24-sampledp5{
    background-image: url("../images/ali24-intro2.jpg");
    grid-area: img5;
    background-position: center ;
}
.a24-sampledp6{
    background-image: url("../images/ali24-intro6.jpg");
    grid-area: img6;
}
@media(max-width:28rem){
    .ali-thumb1,
    .ali23-thumb,
    .ali24-thumb{
        background-position: center;
        background-size: contain;
    }
  
}