.abdg-thumb1{
    background-image: url("../images/favv-abdg1.jpg");
    background-position: center;
}
.abdg-thumb2{
    background-image: url("../images/favv-abdg2.webp");
    background-position: center;
}
.abdg-thumb3{
    background-image: url("../images/favv-abdg3.webp");
    background-position: center;
}
.abdg-thumb4{
    background-image: url("../images/favv-abdg4.jpeg");
}
.abdg-thumb5{
    background-image: url("../images/favv-abdg5.webp");
    background-position: center;
}
.abdg-thumb6{
    background-image: url("../images/favv-abdg6.jpg");
    background-position: center;
}