.miam-thumb1{
    background-image: url("../images/favv-jsrd1.jpg");
    background-position: bottom;
}
.miam-thumb2{
    background-image: url("../images/favv-jsrd2.jpg");
    background-position: center;
}
.miam-thumb3{
    background-image: url("../images/favv-jsrd3.jpg");
    background-position: center;
}
.miam-thumb4{
    background-image: url("../images/favv-jsrd4.jpg");
}
.miam-thumb5{
    background-image: url("../images/favv-jsrd5.jpg");
    background-position: center;
}
.miam-thumb6{
    background-image: url("../images/favv-jsrd6.jpg");
    background-position: center;
}