.gdor-thumb1{
    background-image: url("../images/favv-gdor1.jpg");
    background-position: center;
}
.gdor-thumb2{
    background-image: url("../images/favv-gdor2.webp");
    background-position: center;
}
.gdor-thumb3{
    background-image: url("../images/favv-gdor3.webp");
    background-position: center;
}
.gdor-thumb4{
    background-image: url("../images/favv-gdor4.jpeg");
}
.gdor-thumb5{
    background-image: url("../images/favv-gdor5.webp");
    background-position: center;
}
.gdor-thumb6{
    background-image: url("../images/favv-gdor6.jpg");
    background-position: center;
}